<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoniaEmu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="joysticks">
        <div id="left-joystick-container" class="joystick-container">
            <div class="joystick" id="left-joystick"></div>
        </div>

        <div id="right-joystick-container" class="joystick-container">
            <div class="joystick" id="right-joystick"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/joystick.js') }}"></script>

</body>
</html>

