<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>SoniaEmu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="joysticks">
        <div id="left-joystick-container" class="joystick-container">
            <div class="joystick" id="left-joystick"></div>
            <button class="button joystick-button left-north" data-id="0">↑</button>
            <button class="button joystick-button left-west" data-id="1">←</button>
            <button class="button joystick-button left-east" data-id="2">→</button>
            <button class="button joystick-button left-south" data-id="3">↓</button>
        </div>
	<div id="top-special-buttons">
		<button class="button left-special" data-id="4">▶</button>
		<button class="button right-special" data-id="6">≡</button>
	</div>

        <div id="top-buttons">
            <div class="button-group">
                <button class="button l2" data-id="12">L2</button>
                <button class="button l1" data-id="13">L1</button>
            </div>

            <div class="button-group">
                <button class="button r2" data-id="10">R2</button>
                <button class="button r1" data-id="11">R1</button>
            </div>
        </div>

        <div id="right-joystick-container" class="joystick-container">
            <div class="joystick" id="right-joystick"></div>
            <button class="button joystick-button right-south" data-id="5">A</button>
            <button class="button joystick-button right-east" data-id="7">B</button>
            <button class="button joystick-button right-west" data-id="8">X</button>
            <button class="button joystick-button right-north" data-id="9">Y</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/joystick.js') }}"></script>
</body>
</html>
